.header{
    display: flex;
    flex-direction: column;
    color: $first;
    min-height: 10rem;
    background-color: $second;
    justify-content: center;

    h1{
        align-self: center;
    }
}
