//Font Imports
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


//Colors
$first: #5A7D7C;
$second: #DADFF7;
$third: #232C33;
$forth: #A0C1D1;
$fifth: #B5B2C2;

//Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

//Spacing
$s-size: 1.2rem; 
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;


//Desktop Breakpoints
$desktop-breakpoint: 45rem;