@import '../base/settings';

.container{
    margin-bottom: 10px;
    list-style: none;
    padding: 10px 30px;
    padding-bottom: 2px;
    border-radius: 10px;
    background-color: #F9F3E5;
    color: #33322E;
    box-shadow: 2px 2px 0px 2px #000000;
    outline: 1px solid darken($color: $fifth, $amount: 10%);
}

.buttons{
    display: flex;
    margin-top: 2rem;
    align-items: center;
}
