.switch{
    border: none;
    background-color: #F9F3E5;
}

.likeIcon{
    color: rgb(212, 66, 66);
    font-size: 1.3rem;
}

.noLike{
    color: rgba(#bbb097, .9);
    stroke: rgb(#000, .7);
    font-size: 1.3rem;
}

.likeCount{
    font-size: 1rem;
}
